<div class="form-group nested-fields col-sm-10">
  <div class="col-sm-5" style="display: inline-block;">
    <%= f.label :ingredient %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter ingredient"  %>
  </div>
  <div class="col-sm-5" style="display: inline-block;">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control', placeholder: "Enter amount/measurement" %>
  </div>
  <%= link_to_remove_association 'Remove', f, class: "btn btn-danger btn-sm" %>
</div>