<div class="container">
  <div style="margin-top: 5px;">
    <%= form_tag(recipes_path, method: :get) do %>
      <div class="input-group">
        <%= text_field_tag :search, nil, class: 'form-control col-sm-3', placeholder: "Search.." %>
        <span class="input-group-append">
          <%= submit_tag ("Search"), class: 'btn btn-success' %>
          <%= button_to "Back To Recipes", recipes_path, method: :get, class: 'btn btn-warning' %>
        </span>
      </div>
    <% end %>
  </div>
  <div style="float: right;">
    <%= button_to 'Add Recipe', new_recipe_path(@product), method: :get, class: 'btn btn-success btn-sm', style: "float: right" if logged_in?(:admin) %>
  </div>
  <div class="py-5">
    <div class="row">
      <%= render partial: 'recipe', collection: @recipes if @recipes.length > 0%>
      <% if @recipes.length == 0 %>
        <h3>No recipes match your search..</h3>
      <% end %>
    </div>
  </div>
</div>